<a href="https://colab.research.google.com/github/pandaiscodingcpu/CodeAI_EDA-and-ML-task/blob/main/Copy_of_CodeAi_TechAi_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***FOR DOING THE TASK MAKE THE COPY OF THIS COLLAB FILE IN YOUR DRIVE***

### 1. Python Basics & Control Structures

*Task*:

* Write a Python program that:

  * Takes a list of strings (e.g., ["apple", "banana", "grape", "kiwi", "orange"]).
  * Filters out fruits with more than 5 characters using a for loop and if statement.
  * For each fruit, print its length.

*Example Input*:

python
fruits = ["apple", "banana", "grape", "kiwi", "orange"]

In [ ]:
fruit = []
total_fruits = 10
count = 1
print("You can enter only 10, for exiting enter 'q' or 'Q'")
while True:
  currentFruit = str(input(f"Enter fruit {count}: "))
  if currentFruit.lower() != 'q':
    fruit.append(currentFruit)
  else:
    print("\n")
    print(fruit)
    break
  count += 1
  if count > 10:
    print("10 fruits entered....NO more spaces left")
    break

for f in fruit:
  if len(f) >= 5:
    print(f"The Fruit {f} has {len(f)} characters.")
  else:
    continue

You can enter only 10, for exiting enter 'q' or 'Q'
Enter fruit 1 name: apple
Enter fruit 2 name: banana
Enter fruit 3 name: grapes
Enter fruit 4 name: pineapple
Enter fruit 5 name: mango
Enter fruit 6 name: leechi
Enter fruit 7 name: guav
Enter fruit 8 name: q


['apple', 'banana', 'grapes', 'pineapple', 'mango', 'leechi', 'guav']
The Fruit apple has 5 characters.
The Fruit banana has 6 characters.
The Fruit grapes has 6 characters.
The Fruit pineapple has 9 characters.
The Fruit mango has 5 characters.
The Fruit leechi has 6 characters.


*Expected Output*:


The fruit apple has 5 characters.

The fruit banana has 6 characters.

The fruit orange has 6 characters.

### 2. Functions & Lambda

*Task*:

* Write a function that takes a list of integers and a threshold value. Use a **lambda* function inside filter() to return a list of numbers greater than the threshold.


  # Test the function with a list [1, 5, 10, 3, 8] and threshold 5

In [ ]:
def TheThreshold(numbers,threshold):
  num = list(filter(lambda x: x > threshold,numbers))
  return num

print(TheThreshold([10,52,60,7,100],50))

[52, 60, 100]

### 3. Object-Oriented Programming (OOP)

*Task*:

* Implement a BankAccount class with methods for depositing, withdrawing, transferring, and checking balance.
* Implement *Polymorphism* by overriding the __str__ method to provide a custom string representation of the account.


# Example
account_a = BankAccount("A123", "Alice", 1000)

account_b = BankAccount("B456", "Bob", 500)

account_a.deposit(200)

account_a.transfer(300, account_b)

In [ ]:
class BankAccount:
  def __init__(self,id,name,amount):
    self.id = id
    self.name = name
    self.amount = amount
  def deposit(self,amt_deposit):
    self.amount = self.amount + amt_deposit
  # function for withdrawing the amount
  def withdrawing(self,amt_withdraw):
    if amt_withdraw > self.amount:
      print("Sorry insufficient balance")
    else:
      self.amount = self.amount - amt_withdraw
  def transfer(self, amt_transfer, other_account):
    if amt_transfer > self.amount:
      print("Sorry insufficient balance")
    else:
      self.amount -= amt_transfer
      other_account.amount += amt_transfer
      print(f"Amount {amt_transfer} transferred to {other_account.name}")
  def showBalance(self):
    print("Current balance: ",self.amount)
  def __str__(self):
      return f"Account[{self.id}] - {self.name}, Balance: {self.amount}"


account_a = BankAccount("A123", "Alice", 10)
account_b = BankAccount("B456", "Bob", 500)
print(account_a)
print(account_b)
account_a.deposit(200)
account_a.transfer(300, account_b)
print(account_a)
print(account_b)

Account[A123] - Alice, Balance: 10
Account[B456] - Bob, Balance: 500
Sorry insufficient balance
Account[A123] - Alice, Balance: 210
Account[B456] - Bob, Balance: 500

### 4. Exception Handling

*Task*:

* Write a divide_numbers(a, b) function with exception handling:

  * Handle division by zero and invalid input (non-numeric values).


# Test the function
print(divide_numbers(10, 2))   # Valid input

print(divide_numbers(10, 0))   # Division by zero

print(divide_numbers("ten", 2))  # Invalid input

In [ ]:
def divide_numbers(a,b):
  try:
    return a / b
  except ZeroDivisionError as e:
    return f"ERROR: {e}"
  except TypeError as t:
    return f"ERROR: {t}"
print(divide_numbers(10,0))
print(divide_numbers(10,2))
print(divide_numbers("ten",2))

ERROR: division by zero
5.0
ERROR: unsupported operand type(s) for /: 'str' and 'int'

*Example Expected Output*:


5.0

Cannot divide by zero

Invalid input, please enter numbers

### 5. Python Modules & File Handling

*Task*:

* Write a Python program to:

  * Create a text file "students.txt" with student names and marks.
  * Read the file and print names of students with marks above 80.

In [ ]:
with open('students.txt','w') as f:
  f.write("Alice\t85\nBob\t85\nAda\t78\nDavid\t90")
with open('students.txt','r') as f:
  for l in f:
    name,marks = l.split()
    if int(marks) > 80:
      print(name)

Alice
Bob
David


*Expected Output*:


Alice

Bob

David

### 6. Regular Expressions

*Task*:

* Write a Python function extract_phone_numbers(text) that extracts all phone numbers from a given text. The phone numbers should be in the format (xxx) xxx-xxxx.


sample_text = (
    "For any support regarding our Bangalore office, call us at +91-9876543210 between 9 AM to 6 PM. "
    "If you are located in Mumbai, you can also reach our helpdesk at 9123456789 for urgent assistance. "
    "Additionally, our Delhi branch can be contacted at +91-9988776655 during weekdays."
)




*Expected Output*:


['+91-9876543210', '+91-9988776655']

In [ ]:
import re
sample_text = ( "For any support regarding our Bangalore office, call us at +91-9876543210 between 9 AM to 6 PM. "
               "If you are located in Mumbai, you can also reach our helpdesk at 9123456789 for urgent assistance. "
                "Additionally, our Delhi branch can be contacted at +91-9988776655 during weekdays." )
phone_numbers = re.findall(r"\+\d+\-\d+",sample_text)
print(phone_numbers)

['+91-9876543210', '+91-9988776655']


*Expected Output*:


['+91-9876543210', '+91-9988776655']